<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

</head>
<body>

  <h1 class="title text-center" style='font_color=blue'>Groups</h1>

  <!--Add new group-->
  <div class="container">
      
    <div class="row">
      <%= form_with model: @group , local:true do |form| %>
      <label>Group</label>
      <%= form.text_field :name %>
      <%= form.submit "Add", class: "btn btn-primary" %>
      <% end %>
    </div>


    <hr  style='color:blue;height:5px;background:blue' >

    


    <!-- The div for lsgroups -->
    <!-- The container of listgroups & manage group -->
    <div class="row">

      <div class="col-md-4 ">
        <div class="panel panel-primary">
          <div class="panel-heading " ><p style="font-size:25px;text-align: center;">My Groups</p></div>

            <div class="panel-body">
              <div class="row">
              <% @groups.each do |group| %>
                <div class="col-md-5">
                  <p style="font-size:20px" ><%= group.name %>'  '<%= group.id %></p>         
                </div>

                <div class="col-md-3">
                  <%= link_to 'Select',  group_path(group), class:"btn btn-primary" %>
                </div>

                <div class="col-md-3">
                    <%= link_to 'Destroy', group_path(group),
                    method: :delete,
                    data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
                </div>
                <% end %>
              </div>
            </div>
          </div>

        </div>

      
      <!-- The group managing div -->
      <div class='col-md-8 '>
      <div class="panel  panel-success">
        <div class="panel-heading" style="font-size:25px;text-align: center;">  
          <% if @group_s %>
            <%= @group_s.name %>
            <%else%>
              Select Group
          <%end%>
        </div>
        <div class="panel-body">
        <div>
            <% if @group_s %>
              <%= form_tag("/groups/#{ @group_s.id}/addFriend", method: "post", class: "nifty_form") do %>
                  <%= label_tag(:name, "Your Friend Name :") %>
                  <%= text_field_tag(:name) %>
                  <%= hidden_field_tag(:groupId, @group_s.id) %>
                  <%= submit_tag("Add") %>

                <% end %>
            
        </div>
        <div>
          <% if !@friends %>
            <div class="row" style='margin-top:40px;'>
                <%= render :file => 'groups/show' %>
            </div>	
            <% else %>
            <div class="alert alert-info" role="alert" style='margin-top:40px;'> Empty ... Not Have Any Friend In .</div>
          <%end%>
          <%end%>
        </div>
        </div>
    </div>




  </div>
</body>
</html>