

  <h1 class="title text-center" style='font_color=blue;margin-bottom:10px;'>Groups</h1>

  <!--Add new group-->
  <div class="container">
      
    <div class="row justify-content-center">
      <div class="col-md-1"></div>
      <div class="col-md-2 ">
        <%= form_with model: @group , local:true do |form| %>

        <h5>Group Name:</h5>
      </div>
      <div class="col-md-6">
        <%= form.text_field :name, class: 'form-control', :rows => 8 %>
      </div>
      <div class="col-md-2">
        <%= form.submit "Add", class: "btn btn-primary text-light btn-sm" %>
        <% end %>
      </div>
      <div class="col-md-1"></div>


    </div>


    <hr  style='color:blue;height:5px;background:blue' >

    


    <!-- The div for lsgroups -->
    <!-- The container of listgroups & manage group -->
    <div class="row">

      <div class="col-md-4 ">
        <div class="card">
          <div class="card-header bg-primary text-white" style="margin-bottom:10px;font-size:25px;text-align:center;" >My Groups</div>          
            <div class="card-block bg-light">
              <% @groups.each do |group| %>
              <div class="row " style="margin-top:-7px;margin-bottom:-7px;">
                <div class="col-md-5">
                  <p style="font-size:20px; margin-left:15px; " ><%= group.name %></p>         
                </div>
                <div class="col-md-3">
                  <%= link_to 'Select',  group_path(group), class:"btn btn-primary text-light btn-sm" %>
                </div>
                <div class="col-md-3">
                    <%= link_to 'Destroy', group_path(group),
                    method: :delete,
                    data: { confirm: 'Are you sure?' }, class: "btn btn-danger text-light btn-sm" %>
                </div> 
              </div>
              <hr  style='color:lightgray;height:.5px;background:lightgray' >
              <% end %>
            </div>
          </div>   
        </div>


      
      <!-- The group managing div -->
      <div class='col-md-8 '>
        <div class="card">
          <div class="card-header bg-success text-white" style="font-size:25px; text-align:center;">  
              <% if @group_s %>
                <%= @group_s.name %>
                <%else%>
                  Select Group
                <%end%>
          </div>
          <!-- The body of the card start from here -->
          <div class="card-body bg-light">
            <div id="addFriendToList" class="row justify-content-center">
                <% if @group_s %>
                  <%= form_tag("/groups/#{ @group_s.id}/addFriend", method: "post", class: "nifty_form") do %>
                      <%= label_tag(:name, "Your Friend Name :") %>
                      <%= text_field_tag(:name , nil, class: 'auto')  %>
                      <%= hidden_field_tag(:groupId, @group_s.id) %>
                      <%= submit_tag("Add", class: "btn btn-success text-light btn-sm") %>
                  <% end %>              
            </div>

              <div class="row" style='margin-top:40px;margin-left:20px'>
                  <%= render :file => 'groups/show' %>
              </div>	
              <%end%>

          <!--card-body-->
          </div>
        <!-- card-->
        </div>
      <!-- The group managing div -->
      </div>
    <!-- The container of listgroups & manage group -->
    </div>
  <!--container-->
  </div>

<script>
$(document).ready(function(){
let friendsList = [];
	console.log("HELLO")
	loadFriends();
    async function loadFriends(){
	console.log("HELLO2")

        let friends = await fetch("/friends_list/", {method: "GET"}).then(res=>res.json());
	console.log("HELLO3")

        friends.map(friend=>{
          if(friend.friend.name != null){
            friendsList.push(friend.friend.name)
          }
        })
		console.log(friendsList);

				 $(".auto").autocomplete({
					source: friendsList
				});
		}
	
	// $('#autocomplete').suggest({'@' : {
	// 		data: friendsList,
	// 		map: function(user) {
	// 				return {
	// 						value: user.username,
	// 						text: '<strong>'+user.username+'</strong> <small>'+user.type+'</small>'
	// 				}
	// })


})
  
</script>
