<h2 class="title">Login</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="form-group">
  <div class="col-md-4">
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "form-control"%>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="col-md-4">
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" , class: "form-control"%>
    </div>
  </div>
</div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.submit "Log in" , class: "btn btn-primary" %>
  </div>

  <div class="form-group">
    <%= link_to "Signin with facebook" , user_facebook_omniauth_authorize_path, :class => "btn btn-primary" %>
  </div>  

  <div class="form-group">
    <%= link_to "Signin with google" , user_google_oauth2_omniauth_authorize_path, :class => "btn btn-primary" %>
  </div>  


<%= render "devise/shared/links" %>
<% end %>