<p id="notice"><%= notice %></p>

<h1>Order Details</h1>
<div class="row">
  <div class="col-md-7">
  <table class="table">
    <thead class="thead-dark">
      <tr>
      <th scope="col">#</th>
        <th scope="col">Person</th>
        <th scope="col">Item</th>
        <th scope="col">Amount</th>
        <th scope="col">Price</th>
        <th scope="col">Comment</th>
      </tr>
    </thead>
    <tbody>
    <% @order_item.each do |item|  %>
    <tr>
    <th scope="col"></th>
      <th scope="col"><%= item.name %></th>
      <th scope="col"><%= item.amount %></th>
      <th scope="col"><%= item.amount %></th>
      <th scope="col"><%= item.price %></th>
      <th scope="col"><%= item.comment %></th>
    </tr>
    <% end %>
    </tbody>
  
  </table>
  </div>
  <div class="col-md-5">

  <a class="btn btn-outline-info"  data-toggle="modal" data-target="#myModal">
  10 friends invited, click to view
  </a>
  <!-- The Modal -->
    <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
        <!-- Modal body -->
        <div class="modal-body">
        <div class="row">
        <img src="/assets/a-2205a102f198f437f576b28bc3518eefd26d163c8231b9fd7e3d4423e2e97ad7.png" width="50" height="50">
        </div>
          Ahmed Ali</br>
          <button type="button" class="btn btn-outline-info">Remove</button>        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" >Close</button>
        </div>
        </div>
        </div>
      </div>
      <a class="btn btn-outline-info"  data-toggle="modal" data-target="#modal">
  5 friends joined, click to view
  </a>
  <!-- The Modal -->
    <div class="modal fade" id="modal">
      <div class="modal-dialog">
        <div class="modal-content">
        <!-- Modal body -->
        <div class="modal-body">
        <div class="row">
        <img src="/assets/a-2205a102f198f437f576b28bc3518eefd26d163c8231b9fd7e3d4423e2e97ad7.png" width="50" height="50">
        </div>
        Ahmed Ali</br>
          <button type="button" class="btn btn-outline-info">Remove</button>        </div>
        
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" >Close</button>
        </div>
      </div>
    </div>
    </div>
    </div>
    
<div class="row">
<div class="col-md-12">
<form>
  <div class="form-row align-items-center">
    <div class="col-auto">
    
      <label class="sr-only" for="inlineFormInput">Item</label>
      <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Item">
    </div>
    <div class="form-row align-items-center">
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInput">Amount</label>
      <input type="number" class="form-control mb-2" id="inlineFormInput" placeholder="Amount">
    </div>
    <div class="form-row align-items-center">
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInput">Price</label>
      <input type="number" class="form-control mb-2" id="inlineFormInput" placeholder="Price">
    </div>
    <div class="form-row align-items-center">
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInput">Comment</label>
      <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Comment">
    </div>
    <div class="col-auto">
    <button type="submit" class="btn btn-dark mb-2">Add</button>
  </div>
</div>
</form>
</div>
</div>

    