<% if flash[:notice] %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= flash[:notice] %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <% end %>
        <% if flash[:error] %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= flash[:error] %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <% end %>
<p>
  <strong>Activity:</strong>
  <%= @activity.activity %>
</p>

<p>
  <strong>User:</strong>
  <%= @activity.user_id %>
</p>

<p>
  <strong>Order:</strong>
  <%= @activity.order_id %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
