<!DOCTYPE html>
<html>
  <head>
    <title>YallaNotlob</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag "//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" %>


    <%= stylesheet_link_tag "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity:"sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T",crossorigin:"anonymous" %>

    <%= javascript_include_tag "http://code.jquery.com/jquery-3.3.1.min.js",
  integrity: "sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", 
  crossorigin:"anonymous" %>

    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity:"sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" , crossorigin:"anonymous" %>

    <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity:"sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" , crossorigin:"anonymous" %>

    <%= javascript_include_tag 'https://code.jquery.com/ui/1.12.1/jquery-ui.js' %>


    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render './parts/nav' %>
    <% end %>
    <div class="container">
    <% if flash[:notice] %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= flash[:notice] %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <% end %>
    <% if flash[:error] %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= flash[:error] %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <% end %>
    <% if flash[:alert] %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <%= flash[:alert] %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <% end %>
       
      <%= yield %>
    </div>
  </body>
</html>
